{% extends 'base.html' %}

{% block body %}
<h1>Expense Dashboard</h1>


    <!-- Display Total Expenditure and Remaining Balance -->
    <div class="total-summary">
        <h3>Total Expenditure: ₹{{ total_expense }}</h3>
        <h3>Remaining Balance: ₹{{ savings }}</h3>
    </div>

    
    <!-- Display the Bar Chart for Expenses by Description -->
    <div class="chart-container">
        <h3>Expenses by Description</h3>
        <div>{{ bar_chart_html | safe }}</div>
    </div>

    
    <!-- Display the Bar Chart for Expenses by Description -->
    <div class="chart-container">
        <h3>Savings Vs Utilized </h3>
        <div>{{ pie_chart_html | safe }}</div>
    </div>

    
    <!-- Display the Bar Chart for Expenses by Description -->
    <div class="chart-container">
        <h3>Expenses Over Time</h3>
        <div>{{ line_chart_html | safe }}</div>
    </div>


{% endblock %}